<section>
    <div class="container">
        <form method="post" id="registration" action="/admin/update-product/{{product._id}}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="pname">Product Name </label>
                    <input type="text" class="form-control" id="pname" name="pname"  placeholder="Enter Product Name" value="{{product.pname}}">
                </div>
                <div class="form-group">
                    <label for="price">Price </label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Enter price value" value="{{product.price}}">
                </div>
                <div class="form-group">
                    <label for="lname">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description" value="{{product.description}}">
                </div>
                <div class="form-group">
                    <label for="lname">Category</label>
                   <select  class="form-control" name="category"  id="">
                    <option value="{{product.category}}"></option>
                    <option value="mobile">Mobile</option>
                    <option value="other">Other</option>
                   </select>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <img src="/images/products/{{product._id}}_.jpg" id="prodImg" style="width: 100px; height: auto;" alt="">
                    <input type="file" class="form-control" name="image" id="image" placeholder="Enter your email id" onchange="viewImg(event)">
                </div>
                
                <div class="form-group mt-4">
                    <input type="submit" value="Add Product" class="btn btn-info btn-block">
                </div>
               
            </form>
    </div>
</section>
<script>
    function viewImg(event){
     document.getElementById('prodImg').src=URL.createObjectURL(event.target.files[0])
    }
</script>