{{#if noCart}}
<div>
    <h2>{{noCart}}</h2>
</div>
{{else}}
<section>
    <div class="container ">
        <div class="mt-5 ms-4 row">
            <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                }

                /* The Modal (background) */
                .modal {
                    display: none;
                    /* Hidden by default */
                    position: fixed;
                    /* Stay in place */
                    z-index: 1;
                    /* Sit on top */
                    padding-top: 100px;
                    /* Location of the box */
                    left: 0;
                    top: 0;
                    width: 100%;
                    /* Full width */
                    height: 100%;
                    /* Full height */
                    overflow: auto;
                    /* Enable scroll if needed */
                    background-color: rgb(0, 0, 0);
                    /* Fallback color */
                    background-color: rgba(0, 0, 0, 0.4);
                    /* Black w/ opacity */
                }

                /* Modal Content */
                .modal-content {
                    background-color: #fefefe;
                    margin: auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 80%;
                    height: 50%;
                }

                /* The Close Button */
                .close {
                    color: #aaaaaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            </style>





            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">

                    <h3>Order Placed!..</h3>
                    <p>goto</p>
                    <a href="/orders" class="btn btn-primary">My Orders</a>
                </div>

            </div>


            <form action="/place-order" method="POST" id="form-check" class="form-check" style="display: flex;">
                <div class="col-md-6 ">
                    <input type="text" id="userId" name="userId" value="{{user._id}}" hidden>
                    {{#if address}}
                    <div id="saved-addresses">
                        {{#each address}}
                        <div>
                            <label for=""><input type="radio" name="addressId" value="{{this._id}}" required>
                                <p>{{this.mobile}}</p>
                            </label>

                            <br>

                        </div>
                        {{/each}}
                    </div>
                    <div id="saved-add-btn" hidden>
                        <a class="btn btn-success mb-2"> Saved Addresses</a>
                    </div>
                    {{/if}}
                    <div id="add-address" hidden><a id="" class="btn btn-primary" >+add address</a></div>

                    

                    <div id="new-address">
                        <div>
                            <h2 class="mb-4">Enter delivery deatails</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-3">
                                    <label for="" class="mb-1">Address</label>
                                    <input type="text" id="address" name="address" class="form-control" minlength="10"
                                        required>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-3">
                                    <label for="">Pin code</label>
                                    <input type="number" id="pincode" name="pincode" class="form-control" minlength="6"
                                        maxlength="6" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-3">
                                    <label for="">Mobile No.</label>
                                    <input type="text" id="mobile" name="mobile" class="form-control" minlength="10"
                                        maxlength="10" required>

                                </div>
                            </div>
                        </div>
                        <div><input id="save-address-checkbox" type="checkbox" name="addressSave"> Save This Address
                        <br> <p id="warn-address" class="text-danger"></p>
                        </div>


                    </div>


                </div>
                <div class="col-md-6 mt-5 ms-4  border border-dark ">
                    <h5 class="ms-3 mt-3">Payment Type</h5>
                    <div class="ms-5 mt-1 d-flex flex-column">


                        <label for="flexRadioDefault1" class="">
                            <input class="form-check-input me-2 " type="radio" name="paymentMethod" value="COD"
                                checked>COD</label>

                        <label for="flexRadioDefault2" class="">
                            <input class="form-check-input me-2 " type="radio" name="paymentMethod"
                                value="online">Online</label>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-5">
                            <h3>Total :</h3>

                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-5">
                            <h4>{{grandTotal}}</h4>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-end">
                        <div class="col-4"><input id="checkout" class="btn btn-primary mb-2" type="submit" value="Checkout">
                        </div>
                    </div>

                </div>

            </form>
        </div>

    </div>
</section>
<script>

    window.addEventListener('load', (e) => {
        if (document.getElementById("saved-addresses")) {
            document.getElementById("new-address").setAttribute('style', 'display:none !important')
            document.getElementById("add-address").setAttribute('style', 'display:block !important')
            removeAttri()
        }
    })
    document.getElementById("add-address").addEventListener('click', () => {
        var radio = document.querySelector('input[type=radio][name=addressId]:checked')
        console.log(radio)
        if (radio) radio.checked = false


        var element = document.getElementById("new-address")
        element.setAttribute('style', 'display:block !important')
        document.getElementById("add-address").setAttribute('style', 'display:none !important')
        document.getElementById("saved-addresses").setAttribute('style', 'display:none !important')
        document.getElementById("saved-add-btn").setAttribute('style', 'display:block !important')
        enableAttri()
    })
    document.getElementById("saved-add-btn").addEventListener('click', () => {
        document.getElementById("new-address").setAttribute('style', 'display:none !important')
        document.getElementById("saved-addresses").setAttribute('style', 'display:block !important')
        document.getElementById("add-address").setAttribute('style', 'display:block !important')
        document.getElementById("saved-add-btn").setAttribute('style', 'display:none !important')
        removeAttri()
    })
    function removeAttri() {
        let element = document.getElementById("address")
        let pincode = document.getElementById("pincode")
        let mobile = document.getElementById("mobile")

        element.removeAttribute("required")
        pincode.removeAttribute("required")
        mobile.removeAttribute("required")

        // enable radio attr
        var radio = document.querySelectorAll('input[type=radio][name=addressId]')
        radio.forEach((value) => {
            value.setAttribute("required", "")
        })


    }
    function enableAttri() {
        let element = document.getElementById("address")
        let pincode = document.getElementById("pincode")
        let mobile = document.getElementById("mobile")

        element.setAttribute("required", "")
        pincode.setAttribute("required", "")
        mobile.setAttribute("required", "")
        //disable radio attr
        var radio = document.querySelectorAll('input[type=radio][name=addressId]')
        radio.forEach((value) => {
            value.removeAttribute("required")
        })

    }
    document.getElementById("save-address-checkbox").addEventListener('change', (e) => {
        if (document.getElementById("save-address-checkbox").checked) {
           let userId= document.getElementById("userId").value
            console.log(userId)
            
                console.log("AS")
                fetch("/address-count", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json"
                    },
                    body: JSON.stringify({
                        userId:userId
                    })
                }).then((res) => res.json())
                    .then((data) => {
                         console.log(data)
                       if(data>=3){
                        console.log("kl")
                            document.getElementById("warn-address").innerHTML="only 3 address can save";
                            document.getElementById("save-address-checkbox").checked=false
                            document.getElementById("save-address-checkbox").disabled=true
                       }
                    }).catch((err)=>{
                        console.log(err)
                        alert(err.message)
                    })
            
         
         
        }
    })
    document.getElementById("form-check").addEventListener('submit',(e)=>{
  e.preventDefault()
  console.log(e.target);
  data= new FormData(document.getElementById("form-check"))
  console.log(data);
  fetch("/place-order",{
    method:"POST",
    headers:{
      Accept: "application/json"
    },
   
    body: data
  }).then((res)=>res.json()).then((data)=>{
    if (data==='online') {
     console.log(data);
      location.href= "/checkout"
    }
    else{
       var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }
  })

})

</script>
{{/if}}